body {
    margin : 0;
    padding : 0;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow:hidden; */
    display:flex;
    flex-direction: column;
    background-color: #3d3d3d;

}

#game {
    color:#FEFFFE;
}

#logo {
    rotate: -45deg;
    scale: 0.5;
}

#mainMenu {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #2D5A0E;
}

#menuList {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-grow: 2;
    gap:16px;
}

button {
    
    width: 80%;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    font-weight: 400;
    
    /* padding: 5px; */
    font-size: 16px;
    /* margin-top:auto; */
    padding: 12px 0px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 2px 3px 2px #363535;
    /* font-weight: bold; */
    text-shadow: 2px 3px 2px #363535;
    
    font-size:x-large;
    color:#FEFFFE;
    background-color:#4B9618;
    
}

button:hover {
    background-color:#5da02f;
    scale: 1.04;
    cursor: pointer;
    
}

button.clicked {
    background-color:#5da02f;
    /* scale: 1; */
}

/* Media query for tablets, desktops, and laptops */
@media only screen and (min-width: 768px) {
    button {
        width: 400px;
        padding: 15px;
        /* font-size: 20px; */
        
    }
    
    #menuList {
        /* flex-grow: 1; */
        gap: 24px;
    }
    
    #logo {
        scale: 0.5;
    }
}



canvas{
    /* background-color: rgb(181, 178, 255); */
    /* background-color: white; */
    /* border: 1px solid ; */
    /* width: 1200;
    height: 1200; */
    /* width: 500px;
    height: 500px; */
    
    /* width: 500;
    height: 500; */
    
}


#timer {
    /* text-align: end; 
    padding-top: 12px;   
    font-size: 24px; */
}


#gameMenu {
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    /* font-weight: bolder; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding: 10px;
    font-weight: bolder;
}

#gameEndOverlay {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0);
    padding: 20px;
    z-index: 1;
    align-items: center;
    

}
#overlayMenu {
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
    gap:14px;
}

.overlayButton {
    width:100%;
    
}

#scoreBar {
    padding: 14px;
    color:#FEFFFE;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: larger;
    /* text-shadow: 2px 2px 14px #000000; */
    text-shadow:  2px 3px black,
    0 0 1em black,
    0 0 0.2em black;
}


#setting {
    display: none;
    /* flex-direction: row; */
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2D5A0E;
    padding: 20px;
    z-index: 2;
    /* align-items: center; */
    justify-content: center;
    padding: 32px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 2px 3px 2px #363535;
    
}

#soundIcon {
    padding: 12px 12px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 2px 3px 2px #363535;    
    background-color:#4B9618;

}

#crossIcon {
    position:absolute;
    padding: 12px 12px;
    top: 0;
    right: 0;
    /* border:1px solid black;
    border-radius:8px;
    box-shadow: 2px 3px 2px #363535;     */
    background-color: rgba(0,0,0,0);
}

#soundIcon:hover {
    background-color:#5da02f;
    scale: 1.04;
    cursor: pointer;
    
}
#crossIcon:hover {
    scale: 1.2;
    cursor: pointer;
}
#pauseButton:hover {
    scale: 1.2;
    cursor: pointer;
}

#pauseGameOverlay {
    display: none;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    width: 50%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2D5A0E;
    padding: 20px;
    z-index: 2;
    /* align-items: center; */
    justify-content: center;
    padding: 32px;
    border:1px solid black;
    border-radius:8px;
    box-shadow: 2px 3px 2px #363535;
    
}